.nav-item a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
}
.icon {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px;
}
.signout {
  background-color: #8ec33e;
  padding: 4px 8px;
  border-radius: 5px;
  transition: 0.3s;
}
.signout:hover {
  background-color: #fed134;
  color: black;
}
.signint {
  padding: 4px 8px;
  border-radius: 5px;
}
