.all-card {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.all-card button {
  width: 100%;
  border: 0;
  background-color: white;
  background-color: #8ec33e;
  font-weight: 500;
  font-size: 16px;
  color: white;
  padding: 10px;
}
.all-card button:hover {
  background-color: #fed134;
  color: black;
}
.cart {
  height: 200px;
}
.cart img {
  width: 100%;
}
.cart-price {
  position: relative;
  background-color: #8ec33e;
  height: 200px;
  color: white;
}
.cart-price {
  padding-top: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}
.cart-price h2 :not(small) {
  padding-top: 20px;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
}
