.all-card {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.all-card button {
  width: 100%;
  border: 0;
  background-color: white;
  background-color: #8ec33e;
  font-weight: 500;
  font-size: 16px;
  color: white;
  padding: 10px;
}
.all-card a {
  color: white;
}
.all-card button:hover {
  background-color: #fed134;
  color: black;
}
.cart {
  height: 200px;
}
.cart img {
  width: 100%;
}
.cart-price {
  position: relative;
  background-color: #8ec33e;
  height: 200px;
  color: white;
}
.cart-price {
  padding-top: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}
.all-card h2 {
  padding-top: 20px;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 30px;
  color: #414141;
}

sub {
  font-size: 15px;
  font-weight: 400;
}
.line {
  border: 1px solid;
  width: 150px;
  margin: 0 auto;
  color: #fed134;
}
.card-title {
  font-size: 25px;
  font-weight: bold;
}
/* responsive */
/* media queries */
@media only screen and (max-width: 767px) {
}
@media only screen and (max-width: 480px) {
  .all-card {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
