.about img {
  border-radius: 50%;
  width: 15%;
  transition: 0.5s;
}
.about img:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.about-img {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.about p {
  width: 50%;
  margin: 0 auto;
  font-weight: 400;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s;
}
.about p:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.about span {
  font-weight: 500;
}
.about {
  margin-bottom: 180px;
}
