.social-icon button {
  border: 0;
  background-color: transparent;
}
.social-icon img {
  padding: 5px;
  background-color: rgb(240, 237, 237);
  border-radius: 10px;
}
.social-icon img:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.social-icon {
  display: flex;
  justify-content: space-evenly;
  /* position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
