*:focus {
  outline: none;
}
.btn-color {
  background-color: #8ec33e;
  border: none;
}
.btn-color:hover {
  background-color: #fed134;
}
.btn-color {
  height: 40px;
  color: white;
  font-weight: 500;
}
.btn-color span {
  color: white;
}
.btn-color span:hover {
  color: white;
}
.full-form {
  width: 400px;
  margin-top: 150px;
  padding: 0 10px 10px 10px;
  border: 1px solid #fed134;
  background-color: rgba(255, 255, 255, 0.103);
}

.form-padding {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.text-start {
  position: static;
}
.text-start input {
  background-color: rgb(235, 235, 235);
  border: 0;
  height: 40px;
  padding-left: 10px;
}
.login-bg {
  position: relative;
}
.login-bg img {
  width: 100%;
}

.account {
  color: black;
}
.account:hover {
  color: #fed134;
}
.or-line {
  border: 1px solid #ccc;
  width: 40%;
}
.social-line p {
  color: black;
  margin-top: 10px;
  padding: 0 10px;
}
.social-line {
  display: flex;
  align-items: center;
  justify-content: center;
}
