*:focus {
  outline: none;
}
.btn-color {
  background-color: #8ec33e;
  border: none;
}
.btn-color:hover {
  background-color: #fed134;
}
.btn-color {
  height: 40px;
  color: white;
  font-weight: 500;
}
.text-start {
  width: 400px;
  padding: 0 10px 10px 10px;
  border: 1px solid #fed134;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-start input {
  background-color: rgb(235, 235, 235);
  border: 0;
  height: 40px;
  padding-left: 10px;
}
.login-bg {
  position: relative;
}
.login-bg img {
  width: 100%;
}
.account {
  color: white;
}
.account:hover {
  color: #fed134;
}
.or-line {
  border: 1px solid white;
  width: 40%;
}
.social-line p {
  color: white;
  margin-top: 10px;
  padding: 0 10px;
}
.social-line {
  display: flex;
  align-items: center;
  justify-content: center;
}
